@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --main-bg-color: #4848b5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    color: #3e3e3e;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
ul li {
    list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
    transition: .4s;
}
button {
    display: block;
    border: none;
    transition: .4s;
    cursor: pointer;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}
.error-message {
    display: none;
    font-size: 14px;
    margin: 2px 0 0 5px;
    color: #ec6969;
}
.error-input,
.error-input:focus {
    border: 1px solid #ec6969;
}
label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}
label:first-child {
    margin-top: 0;
}
input,
textarea {
    display: block;
    margin-top: 10px;
    padding: 7px;
    border: 1px solid #8d8dff;
    border-radius: 2px;
    color: #3e3e3e;
    font: 17px 'PT Sans', Arial, Helvetica, sans-serif;
}
input:focus,
textarea:focus {
    border: 1px solid var(--main-bg-color);
}
.button-main,
.button-secondary {
    padding: 10px 8px;
    border-radius: 3px;
    color: #fff;
    font: 17px 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
    background-color: var(--main-bg-color);
}
.button-main:hover {
    background-color: #2c2c97;
}
.button-main:active {
    background-color: #242486;
}
.button-secondary {
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    background-color: #fff;
}
.button-secondary:hover {
    background-color: #ececff;
}
.button-secondary:active {
    background-color: #d6d6ff;
}
.button-remove {
    background-color: #f86565;
}
.button-remove:hover {
    background-color: #fa5555;
}
.button-remove:active {
    background-color: #fa4c4c;
}

/* Header */
#header-main {
    color: #fff;
	background-color: var(--main-bg-color);
}
.header-wrap {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo-wrap {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%;
    background: #fff url(img/logo.svg) 50%/cover no-repeat;
}
.header-wrap h1 {
    font-size: 36px;
    letter-spacing: 0.7px;
}
.header-welcome-text {
    margin-left: auto;
    font-size: 20px;
    letter-spacing: 0.7px;
}

/* Login */
.login-title {
    margin-top: 40px;
    font-size: 28px;
    letter-spacing: 0.9px;
    text-align: center;
}
.login-form {
    width: 370px;
    margin: 20px auto;
}
.login-form input {
    width: 100%;
}
.checkbox-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer !important;
}
.checkbox-label span {
    position: absolute;
    top: 48%;
    left: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-bg-color);
    border-radius: 2px;
    transform: translateY(-50%);
}
.checkbox-label input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}
.checkbox-label input:checked + span {
    background: var(--main-bg-color) url(img/checkbox.svg) 60%/70% no-repeat;
}
.login-form button {
    width: 150px;
    margin: 20px 0 0 auto;
}

/* Main */
.main-wrap {
    display: flex;
    min-height: 85vh;
    padding: 40px 0 10px;
}
#sidebar {
	width: 20%;
	margin-right: 70px;
}
.menu li {
	margin-bottom: 25px;
	font-size: 20px;
	transition: 0.4s;
	cursor: pointer;
}
.menu li:hover {
	color: #4848b5;
}
.menu-selected {
	color: #4848b5;
}
.menu-selected:hover {
	cursor: default;
}

/* Content */
.content {
    overflow-y: auto;
    width: 100%;
    height: 675px;
}

/* My page */
.profile-wrap {
    position: relative;
    display: flex;
    margin-top: 5px;
}
.avatar-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar-profile img {
    width: 200px;
    margin-bottom: 15px;
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    box-shadow: 0 3px 7px 0.5px rgba(0,0,0,0.3);
}
.profile-data {
    width: 80%;
    margin-left: 80px;
}
.profile-menu {
    padding: 35px;
}
.profile-menu li {
    margin-bottom: 20px;
    font-size: 20px;
}
.profile-name span,
.author-news span {
    color: var(--main-bg-color);
    font-size: 22px;
    font-weight: 700;
}
.avatar-button {
    letter-spacing: 0.8px;
}
.edit-profile {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(img/edit.svg) 50% 0%/75% no-repeat;
}
.profile-news {
    position: relative;
    padding-top: 40px;
}
.profile-news::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(62 62 71 / 30%);
}
.profile-news button {
    margin-left: auto;
    letter-spacing: 0.8px;
}
.profile-post-wrap {
    margin: 5px auto;
}
.profile-post {
    width: 99%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 3px 7px 0.5px rgba(0,0,0,0.3);
}
.profile-post p {
    margin: 5px 0 8px;
    font-size: 18px;
    line-height: 1.4;
}
.profile-post img {
    width: 450px;
    margin-bottom: 15px;
    cursor: pointer;
}
.news-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news-info .edit-news,
.news-info .remove-news {
    width: 20px;
    height: 20px;
    background: url(img/remove.svg) 50%/80% no-repeat;
    cursor: pointer;
}
.news-info .edit-news {
    margin-right: 10px;
    background-image: url(img/edit.svg);
}
.news-info .remove-news {
    margin-right: auto;
    opacity: 0.4;
}
.news-date {
    font-size: 14px;
    font-style: oblique;
}
.like-icon {
    margin-left: auto;
    padding-left: 20px;
    background: url(img/like.svg) 0% 50%/15px no-repeat;
    cursor: pointer;
}
.like-icon-checked {
    background-image: url(img/like_checked.svg);
}

/* Friends */
.friend-box {
    display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	margin: 5px auto 20px;
	padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 3px 7px 0.5px rgb(0 0 0 / 30%);
	cursor: pointer;
    transition: .4s;
}
.friend-box:hover {
    border: 1px solid #9797c3;
}
.avatar-wrap {
	width: 120px;
	height: 120px;
	margin-right: 40px;
	border: 2px solid var(--main-bg-color);
	border-radius: 50%;
}
.friend-data-hobby {
    margin-left: auto;
	color: rgba(0,0,0,0.75);
    font-size: 17px;
}
.friend-main-data li:last-child {
    display: block;
	margin-top: 5px;
	color: rgba(0,0,0,0.5);
    font-size: 17px;
}
.link-back {
    position: absolute;
    top: 0;
    right: 10px;
    color: #9797c3;
    font-size: 14px;
    transition: .4s;
    cursor: pointer;
}
.link-back:hover {
    color: var(--main-bg-color);
}

/* News */
.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.author-news {
    display: flex;
    align-items: center;
}
.author-news img {
    width: 50px;
    height: 50px;
    margin: 0 12px 0 0;
}
.author-news span {
    font-size: 17px;
    letter-spacing: 0.5px;
}

/* Alert */
.alert {
    position: fixed;
    z-index: -1;
    top: 27px;
    right: 40px;
    padding: 8px;
    border: 1px solid #158e49;
    border-radius: 2px;
    font-size: 18px;
    opacity: 0;
    background-color: #8dfdb8;
}
.alert button {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #3e3e3e;
    opacity: 0.9;
    font-size: 15px;
    font-weight: 700;
    background: none;
    transform: translateY(-50%);
}
.alert p {
    margin: 0 30px 0 5px;
}
.alert button:hover {
    color: #2a2a2a;
}
.unsuccess {
    border: 1px solid #f69494;
    background-color: #fbaeae;
}

/* Modal */
.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.modal {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 450px;
    padding: 30px 40px;
    border: 2px solid var(--main-bg-color);
    border-radius: 4px;
    background-color: #fff;
    transform: translateX(-50%);
}
.modal-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    cursor: pointer;
}
.modal-image img {
    max-width: 100%;
}
.modal-image button {
    width: 200px;
    margin: 40px auto 0;
}
.modal h2 {
    text-align: center;
}
.modal-profile input {
    width: 100%;
}
.modal-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.modal-btn-wrap button:last-child {
    margin-left: 5px;
}

/* Change avatar */
.modal-avatar-change p {
    margin: 20px 0 5px;
    font-size: 18px;
}
.upload-image-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.upload-image-wrap input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 150px;
    margin: 0;
    opacity: 0;
    transform: translateX(60px);
}
.upload-image-wrap button {
    position: relative;
    top: 0;
    right: 0;
    width: 150px;
}
.upload-avatar-secondary {
    width: 150px;
    margin-left: 5px;
}
.upload-image-message {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    display: block;
    margin: 0 0 15px 2px;
    padding-left: 20px;
    letter-spacing: 0.7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.upload-image-message::before {
    position: absolute;
    content: '';
    top: 55%;
    left: 0;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}
.upload-image-error::before {
    content: 'X';
    top: 0;
    font-weight: 700;
    transform: translateY(0);
}

.upload-image-message:not(.upload-image-error)::before {
    background: url(img/check.svg) 100%/100% no-repeat;
}
.upload-image-error {
    color: #ec6969;
}

/* News modal */
.modal-news {
    width: 500px;
}
.modal-news label {
    position: relative;
    display: block;
    margin: 10px 0;
    padding-bottom: 30px;
}
.modal-news label::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #bebebe;
}
.modal-news-edit label::after {
    display: none;
}
.modal-news .upload-image-wrap input {
    left: 50px;
}
.modal-news textarea {
    width: 100%;
    min-height: 120px;
    max-height: 350px;
    resize: vertical;
}
.avatar-button:disabled {
    opacity: 0.5;
}
.remove-news-text {
    overflow: hidden;
    display: block;
    max-width: 250px;
    margin-top: 5px;
    letter-spacing: 0.6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Loader */
.loader {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(255 255 255 / 50%);
}
.loader::before {
    position: absolute;
    z-index: 25;
    content: '';
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid var(--main-bg-color);
    border-top-color: transparent;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s startLoader linear infinite;;
}

/* Scroll  */
*::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #e6e5e5;
    border-radius: 4px;
}

/* Animations*/
@keyframes openModal {
    0% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 50;
    }
}
@keyframes closeModal {
    0% {
        opacity: 1;
        z-index: 50;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes showAlert {
    0% {
        opacity: 1;
        z-index: 100;
    }
    80% {
        opacity: 1;
        z-index: 100;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes startLoader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}